{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block head_title %}42-test-bilabon{% endblock %}</title>

    {% include 'head_css.html' %}

    <style>
        {% block style %}{% endblock %}
    </style>

    {% include "head_js.html" %}

    {% block head_javascript %}
    {% endblock %}

</head>

<body>
{% include 'navbar.html' %}

<!-- container -->
<div class="container">
    {% block content %}

    {% endblock %}
</div>
<!-- /container -->


{% block bottom_js %}
{% endblock %}

{% include 'footer.html' %}

</body>
</html>