{% extends "base.html" %}

{% block head_title %}Home | {{ block.super }}{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-sm-6">
                <p><span class="text-muted">Name: </span>{{ object.first_name }}</p>
                <p><span class="text-muted">Surname: </span>{{ object.last_name }}</p>
                <p><span class="text-muted">Date of birth: </span>{{ object.date_of_birth|date:"m/d/Y" }}</p>
            </div>

            <hr class="visible-xs">

            <div class="col-sm-6">
                <p><span class="text-muted">Bio: </span>{{ object.bio }}</p>
                <p><span class="text-muted">Contacts: </span>{{ object.contacts }}</p>
                <p><span class="text-muted">Email: </span>{{ object.email }}</p>
                <p><span class="text-muted">Jabber: </span>{{ object.jabber }}</p>
                <p><span class="text-muted">Skype: </span>{{ object.skype }}</p>
            </div>
        </div>
{% endblock %}
