<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Contacts</a></li>
                <li><a href="{% url 'request-log' %}">Requests</a></li>
                <li><a href="{% url 'ajax_contact_edit_view' %}">Edit contacts</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">{{request}}
                {% if user.is_authenticated %}
                <li><a href="#">Hi, {{ user }}!</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>