{% extends "base.html" %}

{% block head_title %}Requests | {{ block.super }}{% endblock %}

{% block content %}
<div class='col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3'>

    <!-- Extra small button group -->
    <div class="btn-group">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Change priority <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
            <li><a href="{% url 'request-log' %}?priority=1">Priority 1</a></li>
            <li><a href="{% url 'request-log' %}">Default</a></li>
      </ul>
    </div>
    <hr>


    <ul class="list-unstyled">
        {% for object in object_list %}
        <li>&bull; Priority: <span class="label label-warning">{{ object.priority }}</span> | <span class="label label-primary">{{ object }}</span><span class="label label-info">{{ object.timestamp|date:'Y-m-d H:i' }}</span></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block bottom_js %}
<script>
$(document).ready(function(){

    function updateTitle(count){
        $.ajax({
            type: 'GET',
            url: '{% url "request-count" %}',
            error: function(data){
                console.log("Some error happened (function updateTitle)");
            },
            success: function(data){
                count = data['request_count'] - count;
                console.log(count);
                if (count > 0) {
                    document.title = '(' + count + ') Requests | 42-test-bilabon';
                };
                
            }
        });
    };
    setInterval(function() {
        updateTitle({{ request_count }});
    }, 1000);

});
</script>
{% endblock %}